html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffffff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 3;
  margin-bottom: 1;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2;
  margin-bottom: 100;
}

.button {
  background-color: #e7e7e7;
  color: black;
  border: border: 4px solid;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 800px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('img/talpe_stroop-1-1.png') bottom center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.btn-start {
  appearance: none;
  border: 1px solid #fff;
  background-color: #987600;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin: auto;
  width: 100px;
  border-radius: 20px;
  display: block;
}
